
<style>

    .foto {
        position: absolute;
        left: 0;
        width: 100%;
        height: 250px;
        overflow: hidden;
    }

    .foto img {
        position: absolute; 
        bottom: -10em; 
        left: 0; 
        width: 100%; 
        height: auto; 
    }

    .quem-somos {
        margin-top: 20em;
        position: absolute;
        background-color: #28b6f6;
        width: 60em;
        border-radius: 10px;
        color: #fff;padding: 10px;
        
    }

    .nossa-missao {
        margin-top: 42em;
        position: absolute;
        background-color: #28b6f6;
        width: 60em;
        border-radius: 10px;
        color: #fff;padding: 10px;
    }


</style>

<div class="foto">
    <img src="/img/praia.jpg" style="width: 100%;">
</div>

<div class="quem-somos">
    <h4>Quem somos?</h4>
    <br>
    <p>Nós somos muito mais do que uma agência de viagens, somos apaixonados por explorar o mundo e compartilhar experiências incríveis com você.</p>
    <p>Fundada por entusiastas de viagens, nossa empresa nasceu do desejo de transformar aventuras em memórias rigorosas.</p>
    <p>Desde o início, nos dedicamos a oferecer viagens mais emocionantes, autênticas e personalizadas, tornando-nos seus parceiros de confiança para todas as suas aventuras pelo mundo.</p>
</div>
<br>
<div class="nossa-missao">
    <h4>Nossa missão</h4>
    <br>
    <p>Nosso objetivo é tornar seus sonhos de viagem realidade, apresentando experiências memoráveis ​​que irão inspirar e marcar sua vida para sempre.</p>
    <p>Na Países Perfeitos, acreditamos que as viagens têm o poder de enriquecer nossas vidas de maneira única.</p>
</div>
